.venv/
__pycache__/
*.pyc
# Environment variables
.env
# FastAPI / logs
*.log
# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# Vite
.vite/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*